body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.topbg {
    display: flex;
}

h1 {
    font-size: 50px;
}

.sd {
    color: orange;
}

.leftp {
    width: 40%;
    margin-left: 6.3%;
    padding: 2%;
}

.leftp p {
    text-align: justify;
}

.rightp img {
    width: 100%;
}

.rightp {
    width: 40%;
    margin-right: 7%;
}

.linkbutton {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    color: aliceblue;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 700;

}

.topbg {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;


}

.dream-big {
    display: flex;
    margin-top: 80px;
}

.dremimg {
    margin-left: 5%;
    width: 40%;
    margin-right: 5%;
}

.dremimg img {
    width: 100%;

}

.dreamp {
    width: 40%;
}

.dreamp h2 {
    font-size: 40px;
    font-weight: 700;
}

.dreamp p {
    text-align: justify;
}

.resuelink {
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 3%;
    font-weight: 700;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    ;
    margin-top: 10px;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-aria {

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.box-area {
    display: flex;
}

.half {
    width: 38%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    padding: 20px;
}

.half h5 {
    color: orange;
    font-size: 17px;
}



.half2 {
    margin-left: 0%;
    border-left: 6px solid green;
}

.half h3 {
    font-size: 40px;
}

.border {
    box-shadow: 10px 10px 30px gray;
    width: 40%;

}

footer p {
    text-align: center;
    margin-top: 80px;
}

.half1 {
    border-left: 6px solid tomato;
}